html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* Variables */
:root {
    --main-bg: hsl(217, 54%, 11%);
    --card-bg: hsl(216, 50%, 16%);
    --line: hsl(215, 32%, 27%);
    --text-blue: hsl(215, 51%, 70%);
    --text-price: hsl(178, 100%, 50%);
    --text-price-eye: hsla(178, 100%, 50%, 0.456);
    --font: 'Outfit', sans-serif;
}

#container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    background-color: var(--main-bg);
    padding-top: 5%;
    padding-bottom: 5%;
}

#card {
    grid-column: 7 / span 4;
    padding: 30px;
    background-color: var(--card-bg);
    border-radius: 15px;
    -webkit-box-shadow: 0px 6px 17px 10px #09121F; 
    box-shadow: 0px 6px 17px 10px #09121F;
}

#image-nft {
    width: 100%;
    border-radius: 15px;
}

#card > h1 {
    font-family: var(--font);
    font-size: 24px;
    font-weight: 600;
    color: white;
    padding-top: 15px;
}

#card > h1:hover {
    color: var(--text-price);
    cursor: pointer;
}

#card > p {
    font-family: var(--font);
    font-size: 18px;
    font-weight: 300;
    color: var(--text-blue);
    padding-top: 20px;
}

#price {
    padding-top: 20px;
    padding-bottom: 20px;
}

span > p {
    display: inline
}


#price-left > p {
    font-family: var(--font);
    font-weight: 600;
    font-size: 18px;
    color: var(--text-price);
    padding-left: 7px;
    position: relative;
    bottom: 3px;

}

#price-right {
    float: right;
}

#price-right > p {
    font-family: var(--font);
    font-weight: 300;
    font-size: 16px;
    color: var(--text-blue);
    position: relative;
    bottom: 3px;
    padding-left: 5px;
}

hr {
    border: solid 1px var(--line);
}

#profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
}

#profile > img {
    width: 40px;
    border: solid 1px white;
    border-radius: 100%;
}

#profile > p {
    padding-left: 15px;
    font-family: var(--font);
    font-weight: 300;
    font-size: 16px;
    color: var(--text-blue);
}

#profile > p > span {
    color: white;
}
#profile > p > span:hover {
    color: var(--text-price);
    cursor: pointer;
}

#img-container {
    position: relative;
}

#img-hover {
    background-color: var(--text-price-eye);
    background-image: url(./images/icon-view.svg);
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 15px;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 300ms ease-in;
}

#img-container:hover > #img-hover {
    opacity: 1;
    cursor: pointer;
    transition: opacity 200ms ease-in;
}

@media screen and (max-width: 1080px) {
    #card {
        grid-column: 6 / span 6;
    }    
}

@media screen and (max-width: 740px) {
    #card {
        grid-column: 5 / span 8;
    }
}

@media screen and (max-width: 560px) {
    #card {
        grid-column: 4 / span 10;
    }
}

@media screen and (max-width: 435px) {
    #card {
        grid-column: 3 / span 12;
    }
}

@media screen and (max-width: 365px) {
    #card {
        grid-column: 2 / span 14;
    }
}